<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Color</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th></th>
                <td>
                    <input type="text" [formControlName]="'Name'">
                </td>
                <td>
                    <input type="color" [formControlName]="'Color'">
                </td>
                <td>
                    <button type="submit" [disabled]="!form.valid">Add</button>
                </td>
            </tr>
            <tr *ngFor="let feature of features">
                <th>{{ feature.Id }}</th>
                <td>{{ feature.Name }}</td>
                <td [ngStyle]="{ 'background-color': feature.Color }"><b></b></td>
                <td>
                    <button type="button" (click)="deleteFeature(feature.Id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>