<form [formGroup]="form">
    <fieldset>
        <legend>Select the category</legend>
        <select [formControlName]="'featureType'">
            <option *ngFor="let featureType of featureTypes" [ngValue]="featureType.Id">{{ featureType.Name }}</option>
        </select>
    </fieldset>
</form>

<app-ol-map
class="map"
[center]="[-483281,6904172]"
[zoom]="8.5"
[selectedFeatureType]="form.controls.featureType.value"
[mapFeatures]="mapFeatures"
[featureTypes]="featureTypes"
(mapReady)="onMapReady($event)"
(addLocation)="addLocation($event)"
(mapLocation)="onCurrentLocation($event)"
></app-ol-map>