<form [formGroup]="form">
    <fieldset>
        <legend>Select the category</legend>
        <select [formControlName]="'featureType'">
            <option *ngFor="let featureType of featureTypes" [ngValue]="featureType.Id">{{ featureType.Name }}</option>
        </select>
    </fieldset>
</form>
<form [formGroup]="layersForm">
    <label formArrayName="layers" *ngFor="let layer of layersFormArray.controls; let i = index">
        <input type="checkbox" [formControlName]="i">
        {{ featureTypes[i].Name }}
    </label>
</form>
<app-ol-map
class="map"
[center]="[-483281,6904172]"
[zoom]="8.5"
[selectedFeatureType]="form.controls.featureType.value"
[mapFeatures]="mapFeatures"
[featureTypes]="featureTypes"
[activeLayers]="activeLayers"
(mapReady)="onMapReady($event)"
(addLocation)="addLocation($event)"
(mapLocation)="onCurrentLocation($event)"
(removeLocation)="removeLocation($event)"
></app-ol-map>